
.recipe-details {
    margin: 20px;
  }
  
  .recipe-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .recipe-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .recipe-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recipe-details ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .recipe-details ul li {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .recipe-details p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  